* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #ffffff;
    padding: 20px;
    max-width: 800px;
    margin: 1vw auto;
    border-radius: 5px;
    background-color: #ffffff;
    background: linear-gradient(to right, #2b2d43e6, rgb(243, 22, 86, 0.9));
    border: 2px solid #cccccc70;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.enfatizar {
    font-weight:700 ;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #22202086;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid #cccccc77;
    transition: background-color 0.3s ease;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.356);
    color: #ffffffe6;
    font-size: 1em;
}

p {
    margin: 20px 7px;
    text-align: justify;
}